* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body {
    background-color:#EDF2F4;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #353A47;
    padding: 2em 4em;
}
.header p,
.header button {
    color: #fff;
    font-weight: 500;
}
.logo p {
    font-size: 1.5em;
}
.translate-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.translate-button {
    background: none;
	color: inherit;
	border: none;
    outline: inherit;
    cursor: pointer;
    margin: .5em;
    padding: .1em;
}
.translate-button p {
    font-size: 1.3em;
}
.translate-button:hover > p {
    transition: .3s;
    color: #8d99ae;
}
.section-container {
    display: flex;
    flex-direction: column;
    padding: 10vh 8vw;
    margin-top: 2.5em;
}
.title {
    flex: 1;
}
.title p,
.title hr {
    color: #353A47;
}
.title p {
    font-size: 3.2em;
    padding-left: .8em;
    padding-bottom: .5em;
    font-weight: 700;
}
.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3em 1em;
}
.mrkd {
    width: 30em;
    height: fit-content;
    background-color: #cdcdcd;
    border-radius: 8px;
    margin-left: 2dvw;
}
.wrap-content {
    display: flex;
    flex-direction: column;
    margin: 1.8em 2.6em;
}
.subtitle {
    font-weight: 700;
    font-size: 1.8em;
}
.shadow-text {
    text-shadow: 0px 1px 1.5px #000;
}
.text-mrkd {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.3em;
    margin: 1em 0;
    margin-left: 1.2em;
    color: #353A47;
}
.dot-line {
    display: flex;
    border: 5px dashed #134074;
    margin-top: 2.5em;
    margin-right: 1.8em;
    padding: 2em;
}
.portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 5px solid #353A47;
    border-radius: 180px;
    background-color: #fff;
}
.img {
    width: 15em;
    height: 15em;
    object-fit: cover;
}